@import "./colours.css";

.navbar-brand > img {
    max-height: 65px;
}
.quarto-title-block .quarto-title-banner {
  background-image: url('../svg/banner.svg');
  background-size: cover;
}
.right-align {
    text-align: right;
}
